@import "tailwindcss";

:root {
    --ig-primary-background: 12, 16, 20;
    --ig-primary-text: 245, 245, 245;
    --system-14-font-size: 14px;
    --system-14-line-height: 18px;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background: rgb(var(--ig-primary-background));
    color: rgb(var(--ig-primary-text));
    font-family: var(--font-family-system), sans-serif;
    font-size: var(--system-14-font-size);
    line-height: var(--system-14-line-height);
    margin: 0;
}
